<!--<div>-->
    <!--i am home page {{name}}-->
<!--</div>-->

<!--<button ng-click="changeView(obj)" id="aaa"> go to list page</button>-->


<!--<div id="size" style="background-color:yellow;width: 100px;height:100px;" ng-click="changeSize()">-->

<!--</div>-->

<!--<p>width:{{width}}</p>-->
<!--<p>height:{{height}}</p>-->

<!--<input ng-model="width" placeholder="width"/>-->
<!--<input type="text" ng-model="height" placeholder="height">-->

<p>current activeIndex : {{tabConfigObj.activeIndex}}</p>
<div tabs tab-config="tabConfigObj">
    <departure></departure>
</div>





